/* =========== Google Fonts ============ */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* =============== Globals ============== */
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #021C3C;
  --yellow: #ffa500;
  --white: #fff;
  --gray: #f5f5f5;
  --black1: #222;
  --black2: #999;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

.container {
  position: relative;
  width: 100%;
}

/* =============== Navigation ================ */
.navigation {
  position: fixed;
  width: 300px;
  height: 100%;
  background: var(--blue);
  border-left: 10px solid var(--blue);
  transition: 0.5s;
  overflow: hidden;
}
.navigation.active {
  width: 80px;
}

.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navigation ul li {
  position: relative;
  width: 100%;
  list-style: none;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.navigation ul li:hover,
.navigation ul li.hovered {
  background-color: var(--white);
}

.navigation ul li:nth-child(1) {
  margin-bottom: 40px;
  pointer-events: none;
}

.navigation ul li a {
  position: relative;
  /* display: block; */
  width: 100%;
  display: flex;
  text-decoration: none;
  color: var(--white);
  align-items: center;
}
.navigation ul li:hover a,
.navigation ul li.hovered a {
  color: var(--blue);
}

.navigation ul li a .icon {
  position: relative;
  display: flexbox;
  min-width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  margin-right: 5px; /* Sesuaikan dengan kebutuhan */
}
.navigation ul li a .icon img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* Pastikan logo tidak terdistorsi */
}
.navigation ul li a .icon ion-icon {
  font-size: 20px; /* Sesuaikan ukuran */
  vertical-align: middle;
}

.navigation ul li a .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
}

/* --------- curve outside ---------- */
.navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
  content: "";
  position: absolute;
  right: 0;
  top: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px var(--white);
  pointer-events: none;
}
.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px -35px 0 10px var(--white);
  pointer-events: none;
}

/* ===================== Main ===================== */
.main {
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  background: var(--white);
  transition: 0.5s;
}
.main.active {
  width: calc(100% - 80px);
  left: 80px;
}

/* Styling untuk topbar */
.topbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between; /* Memastikan ruang terbagi antara elemen kiri dan kanan */
  align-items: center;
  padding: 0px 10px;
  background-color: var(--yellow);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Memastikan toggle berada di paling kiri */
.topbar .toggle {
  margin-right: auto; /* Menempatkan toggle di kiri */
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  cursor: pointer;
}

/* Styling untuk foto profil */
.topbar .user {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.topbar .user img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

/* Style untuk container form */
.content {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: "Poppins", sans-serif;
}

/* Style untuk judul dan syarat wisuda */
.content h2 {
  text-align: center;
  color: var(--blue);
  font-size: 24px;
  margin-bottom: 10px;
}

.content ul {
  list-style-type: disc;
  margin-bottom: 20px;
  padding-left: 20px;
  color: var(--black1);
}

.content ul li {
  font-size: 14px;
  margin-bottom: 5px;
}

/* Style untuk label dan input */
form label {
  display: block;
  font-weight: 500;
  /* margin-bottom: 8px; */
  color: var(--black1);
}

.dashboard-content {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
}

.welcome-section {
  text-align: center;
  margin-bottom: 30px;
}

.welcome-section .highlight {
  color: var(--yellow);
  font-weight: bold;
}

.features-section {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.feature-box {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  flex: 1;
  min-width: 250px;
  max-width: 30%;
  text-align: center;
}

.feature-box h2 {
  color: var(--blue);
  margin-bottom: 10px;
}

.feature-box p {
  font-size: 14px;
  color: #555;
  margin-bottom: 20px;
}

.feature-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--blue);
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 14px;
}

.feature-link:hover {
  background-color: var(--yellow);
}

form input[type="file"] {
  display: block;
  width: 100%;
  padding: 10px;
  /* margin-bottom: 5px; */
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  background-color: #fff;
  color: var(--black1);
  cursor: pointer;
}

form input[type="file"]:hover {
  border-color: #888;
}

/* Style untuk tombol submit */
form button[type="submit"] {
  display: block;
  width: 100%;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: var(--yellow); /* Warna tombol */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button[type="submit"]:hover {
  background-color: var(--blue);
}

/* Style tambahan untuk tabel dan pesan */
.content-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: "Poppins", sans-serif;
  margin-top: 50px;
}

.content-container h2 {
  text-align: left;
  color: #333;
  font-size: 20px;
  margin-bottom: 10px;
}
/* Styling untuk link Tambah Undangan */
.tambah-undangan {
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.2s;
  display: inline-block;
}

/* Efek hover untuk link Tambah Undangan */
.tambah-undangan:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

/* Efek fokus (focus) untuk aksesibilitas */
.tambah-undangan:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.table-container {
  margin-top: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
}

.table-container table {
  width: 100%;
  border-collapse: collapse;
}

.table-container th,
.table-container td {
  padding: 8px 12px;
  border: 1px solid #ddd;
  text-align: center;
}

.table-container th {
  background-color: #f1f1f1;
  font-weight: bold;
}

.add-invitation {
  color: #333;
  font-weight: bold;
  display: inline-block;
  margin-top: 10px;
  cursor: pointer;
}

.warning-text {
  color: red;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
}


/* ====================== Responsive Design ========================== */
@media (max-width: 991px) {
  .navigation {
    left: -300px;
  }
  .navigation.active {
    width: 300px;
    left: 0;
  }
  .main {
    width: 100%;
    left: 0;
  }
  .main.active {
    left: 300px;
  }
}

@media (max-width: 768px) {
  .status.inProgress {
    white-space: nowrap;
  }
}

@media (max-width: 480px) {
  .user {
    min-width: 40px;
  }
  .navigation {
    width: 100%;
    left: -100%;
    z-index: 1000;
  }
  .navigation.active {
    width: 100%;
    left: 0;
  }
  .toggle {
    z-index: 10001;
  }
  .main.active .toggle {
    color: #fff;
    position: fixed;
    right: 0;
    left: initial;
  }
}

/* Responsive style untuk form */
@media (max-width: 600px) {
  .content {
    padding: 15px;
  }

  form input[type="file"],
  form button[type="submit"] {
    font-size: 14px;
  }
}

/* Styling untuk notifikasi (di sebelah kanan) */
.notification {
  position: relative;
  margin-right: 10px; /* Menjaga jarak antara ikon notifikasi dan foto profil */
  cursor: pointer;
}

.notification ion-icon {
  font-size: 24px;
}

/* Styling Popup Notifikasi */
.notification-popup {
  position: absolute;
  top: 35px;
  right: 0;
  background: #fff;
  border: 1px solid #ddd;
  width: 300px;
  max-height: 250px;
  overflow-y: auto;
  display: none; /* Menyembunyikan popup secara default */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 9999;
  border-radius: 8px;
  padding: 10px;
}

.notification-popup .popup-content {
  font-size: 14px;
}

.notification-popup p {
  padding: 5px 0;
  border-bottom: 1px solid #ddd;
}

/* Tanda merah pada ikon notifikasi jika belum dibaca */
.notification .unread ion-icon {
  color: red;
  font-size: 28px;
  position: relative;
}

/* Tambahkan titik merah pada ikon notifikasi */
.notification .unread ion-icon::after {
  content: "";
  position: absolute;
  top: -5px;
  right: -5px;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
}

/* Default (belum dibaca, ikon merah) */
.notification #notificationIcon {
  color: red;
  cursor: pointer;
}

/* Jika sudah dibaca (ikon hitam) */
.notification.read #notificationIcon {
  color: black;
}

/* Gaya saat notifikasi telah dibaca */
.notification .read ion-icon {
  color: black;
}

/* Default (belum dibaca, warna merah) */
.notification .notification-icon {
  color: red;
  cursor: pointer;
}

/* Jika sudah dibaca (ikon berubah menjadi hitam) */
.notification.read .notification-icon {
  color: black;
}


