/* style.css */
:root {
    --blue: #2a2185;
    --yellow: #FFA500;
}

body {
    background-color: var(--blue);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

h2 {
    margin-bottom: 10px;
    color: var(--blue);
}

input, select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--blue);
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: var(--yellow);
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: darkorange;
}

a {
    display: block;
    margin-top: 10px;
    color: var(--blue);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
