
// courses list section

.list {
    margin: 0 0 -30px;

    &_tags {
        margin: 0 0 40px;
    }

    &_courses {
        overflow: visible !important;

        &-card {
            margin-bottom: 35px;

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
}

// media queries

@media screen and (min-width: 767.98px) {
    .list {

        &_courses {
            margin: 0 -17.5px;

            &-card {
                padding: 0 17.5px;

                .course-card_wrapper {
                    .top {
                        padding-right: 30px;

                        &_title {
                            max-width: 205px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 991.98px) {
    .reviews {
        padding: 160px 0 120px !important;
    }
}